@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Lora", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
    --primary-color: #00832D; /* forest green */
    --secondary-color: #A8B77C; /* soft sage green */
    --highlight-color: #333333; /* charcoal grey */
    --highlight-color-light: #16A34A; /* pigment green */
}

/* Global styles */

body {
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
    color: black;
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1 {
    font-weight: 600;
    font-size: 5rem;
}

/* Buttons */

.custom-button-filled {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
}

.custom-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

.custom-button-outline {
    border: 3px solid var(--highlight-color);
    padding: 7px 25px;
    background-color: white;
    color: var(--highlight-color);
}

.custom-button-outline:hover {
    background-color: var(--highlight-color);
    color: white;
}

/* Navbar */

#navbar {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    justify-content: space-between;

}

#navbar .logo {
    width: 100px;

}

/* Footer */

a {
    color: #333333;
}

/* Services */

.custom-icon {
    width: 4.5rem;
    padding-top: 10%;
    padding-left: 10%;

}
    
    /* css filter to change icon from black to green*
    filter: brightness(0) saturate(100%) invert(15%) sepia(98%) saturate(488%) hue-rotate(88deg) brightness(95%);


