@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Lora", sans-serif;
    --secondary-font: "New Amsterdam", sans-serif;
    --primary-color: #00832D; /* forest green */
    --secondary-color: #4E382D; /* brown */
    --highlight-color: #333333; /* charcoal grey */
    --highlight-color-light: #EBDAC2; /* pigment green */
}

/* Global styles */

body {
    font-family: var(--primary-font);
    background-color: var(--highlight-color-light);
    color: black;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1 {
    font-weight: 600;
    font-size: 6rem;
}

h2    {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3%;
    margin-top: 3%;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 3rem;
}


/* Buttons */

.custom-button-filled {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

.custom-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--highlight-color-light);
    color: (--secondary-color);
}

.custom-button-outline {
    border: 3px solid var(--secondary-color);
    padding: 7px 25px;
    background-color: white;
    color: var(--secondary-color);
}

.custom-button-outline:hover {
    background-color: var(--secondary-color);
    border: 3px solid var(--highlight-color-light);

    color: var(--highlight-color-light);
}

/* Navbar */

#navbar {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#navbar .logo {
    width: 100px;

}

.navbar-text img {
    width: 30px
}

.navbar-nav {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
}


/* Services */
#services {
    background-color: var(--secondary-color);
}



/* Services */

.custom-icon {
    width: 4.5rem;
    padding-top: 10%;
    padding-left: 10%;

}

.icon-heading {
    display: flex; 
   align-items: center; /* Align vertically in the center */
    gap: 8px; /* Add space between icon and text */
  }

.heading-icon {
    width: 3.3rem;

}
    
    /* css filter to change icon from black to green*
    filter: brightness(0) saturate(100%) invert(15%) sepia(98%) saturate(488%) hue-rotate(88deg) brightness(95%);


/* Footer */

#footer {
    background-image: url('../images/tree-forest.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    min-height:500px; /* Adjust height as needed */
    position: relative; 
    color: #00832D;
    z-index: 1; 
  }

#footer .nav-link {
    color: #EBDAC2;
    font-size: 1.2em;
}

.form-label {
    font-weight: 700;
    font-size: large;
    text-shadow: -3px -3px 3px #EBDAC2, 
    3px -3px 3px #EBDAC2, 
    -3px 3px 3px #EBDAC2, 
    3px 3px 3px #EBDAC2;
}

#footer #contact-us {
    color: #EBDAC2;
    font-size: 1.2em;
}


a {
    color: var(--primary-color);
    font-size: xx-large;
}


